@media screen and (max-width:1400px) {
   
}
@media screen and (max-width:1208px) {
    .section1 img{
        width: 630px;
     }
     .convert{
         margin-left: 100px;
     }
     .boshoriq{
        padding: 40px 50px;
    width: 400px;
    height: 450px;
}
 .boshoriq img{
     position: absolute;
 }
 #v1{
   margin: 150px -50px 0 0;
   width: 200px;
 }
 #v2{
 margin: 0 0 0 110px;
 width: 200px;
}
#v3{
    margin: -30px 0 0 -55px ;
    width: 280px;
}
#v4{
   margin: 140px 0 0 60px;
   width: 300px;
}
#v5{
    width: 300px;
}
.section4{
    
    
    justify-content: center;
    /* flex-direction: column; */
flex-wrap: wrap;    
}
.column2{
    margin-top: 50px;
}
.section6{
    flex-wrap: wrap;
}
.imgs6{
width: 500px;
}
}
@media screen and (max-width:1023px) {
    .meniu{
        display:block;
    }
    .floor-1{
        display: none;
    }
    .navhr{
        display: none;
    }
    .floor-2 ul{
        display: none;
     }
     .navbtn{
         display: none;
     }
     .section1 img{
        width: 550px;
     }
     .section1 p{
      font-size: 45px;
     }
}
@media screen and (max-width:850px) {
    .section1 img{
        width: 480px;
     }
     .section1 p{
        font-size: 40px;
       }
       .section2{
   flex-direction: column;
     }
     .convert{
         margin-left: 100px;
     }
     .boshoriq{
        padding: 40px 50px;
    width: 400px;
    height: 450px;
}
.convert{
    margin: 20px 0;
}
}
@media screen and (max-width:767px) {
    .section1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  0 5%;
      }
      .section1 p{
        max-width: 500px;
        margin: 0;
     }

.column2{
    flex-wrap: wrap;    
}
.column2 div{
    margin: 30px 20px;
}
}
@media screen and (max-width:540px) {
      .section1 p{
       
        font-size: 35px;
        width: 90%;
     }
     .section1 img{
        width: 400px;
     }
     .lina{
         flex-direction: column;

     }
     .lina a{
         margin-top: 20px;
         width: 100px;
     }
     .cards .s{
        max-Width :300px;
        Height :418px;
     }
     .section5{
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
     }
     .section5 img{
         width: 300px;
     }
     .imgs6{
       width: 300px;
     }
     .section7{
         padding: 0 5%;
     }
     .s7column3{
         width: 250px;
     }
}
@media screen and (max-width:430px) {
    .section1 p{
      font-size: 30px;
      width: 90%;
   }
   .section1 img{
      width: 300px;
   }
.boshoriq{
   padding: 40px 50px;
width: 300px;
height: 350px;
/* border: 1px solid; */
}
#v1{
margin: 75px 0 0 -5px;
width: 150px;
}
#v2{
margin: 0 0 0 50px;
width: 150px;

}
#v3{
margin: -15px 0 0 -35px ;
width: 180px;
}
#v4{
margin: 120px 0 0 50px;
width: 180px;
}
#v5{
width: 180px;
}

}
